{% macro version_details(version) %}
   <div class="row">
    <div class="col-2">
    Dataset version:
    </div>
    <div class="col-10">
    {{version.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    Created at:
    </div>
    <div class="col-10">
    {{version.created_at}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    Description:
    </div>
    <div class="col-10">
    {{version.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    Items No:
    </div>
    <div class="col-10">
        {{version.data_no()}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    Categories No:
    </div>
    <div class="col-10">
    {{version.categs_no() | safe}}
    </div>
  </div>

{% endmacro %}