{% extends "_base.html" %}
{% block title %}Create moderation batch{% endblock %}
{% from "_formshelper.html" import render_field %}
{% block content %}

<div class="card bg-light mb-3">
    <div class="card-body">
        <form action="{{ url_for('todo.new_batch') }}" method="post" name="editform">
            {{ form.csrf_token }}
            <div class="form-group mb-4">
              {{ form.src.label }}
              {{ render_field(form.src, class="form-control") }}
            </div>
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="{{url_for('todo.index')}}" role="button" class="btn btn-secondary float-right">Cancel</a>            
        </form>
    </div>
</div>

{% endblock %}
