{% extends "_base.html" %}
{% block title %}Import
{% endblock %}

{% from "helpers.html" import version_details %}
{% block content %}

<div class="container">
    {{ version_details(version) }}
</div>

<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('todo.index')}}">Post-moderation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Deduplication</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Checkouts</a>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Started</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <meta http-equiv="refresh" content="5">
      {% for task in tasks %}
          <tr>
              <td>{{task.status}}</td>
              <td>{{task.created_at}}</td>
              <td>{{task.started_at}}</td>
              <td>
                  {% if task.started_at == None %}
                  <form method="POST" action="{{url_for('deduplication.take_task', task_id=task.task_id, selected_ds=selected_ds)}}">
                  {% if task.can_take %}
                        <button type="submit" class="btn btn-primary btn-sm active" value="take" name="submit_btn">Take</button>
                  {% endif %}
                  {% else %}
                      {#<a href="{{url_for('todo.item', item_id=todo.task_id)}}" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Open</a>#}
                  {% endif %}
                        <button type="submit" class="btn btn-primary btn-sm active" value="delete" name="submit_btn">Delete</button>
                    </form>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}
