{% extends "_base.html" %}
{% block title %}Maintenance{% endblock %}
{% from "helpers.html" import version_details %}
{% block content %}

<div class="container">
    {{ version_details(version) }}
</div>

<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link active" href="#">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('maintenance.models_list', selected=version.name)}}">Models</a>
  </li>
</ul>

<div class="card-columns">
    {% for task in categs.keys() %}
        <div class="card m-4">
            
            <div class="card-header">
                {{tasks[task]}}
            </div>
            <ul class="list-group list-group-flush">
                {% for categ in categs[task] %}
                    <li class="list-group-item">{{categ.name}}</li>
                {% endfor %}
            </ul>
            <a href="{{url_for('maintenance.categ_add', selected=version.name, task_id=task)}}" 
                class="btn btn-primary btn-small m-4">Add category
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
