{% extends "_base.html" %}
{% block title %}Maintenance{% endblock %}
{% from "helpers.html" import version_details %}
{% block content %}

<div class="container">
    {{ version_details(version) }}
</div>

<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link " href="{{url_for('maintenance.categs_list', selected=version.name)}}">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Models</a>
  </li>
</ul>

<div class="card-columns">
    {% for task in models.keys() %}
        <div class="card m-4">
            <div class="card-header">
                {{tasks[task]}}
            </div>
            <ul class="list-group list-group-flush">
                {% for model in models[task] %}
                    <li class="list-group-item">{{model.name}}
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                          <a href="{{url_for('maintenance.model_edit', model_id=model.id)}}" class="btn btn-light"><i class="far fa-edit"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{url_for('maintenance.model_add', selected=version.name, task_id=task)}}" 
                class="btn btn-primary btn-small m-4">Add model
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
