{% extends "_base.html" %}
{% block title %}Maintenance{% endblock %}
{% from "helpers.html" import version_details %}
{% block content %}

<div class="container">
    {{ version_details(version) }}
</div>

<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link " href="{{url_for('maintenance.categs_list', selected=version.name)}}">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Models</a>
  </li>
</ul>

<ul class="list-group list-group-flush">
{% for category in categs %}
  <li class="list-group-item">{{category.name}}</li>
{% endfor %}  
</ul>

{% endblock %}
